<!DOCTYPE html>

<!--POST '/articles'-->

<h2>Create a new article</h2>
<form method='POST' action='/articles'>
  <p>Title: <input type='string' name='title' /></p>
  <p>Content: <input type='string' name='content' /></p>
  <input type='submit' value="submit" />
</form>

<!--"name=" sets the key names in params, values are inserted in form -->
